/*  ******** COLORS  ********  */ 

$primary-color: #0282f9; 

$dark-text-color: #484848; 
$light-text-color: #a3a293; 

$darker-bg-color: #1c1c1c; 
$lighter-bg-color: #303030; 
$gray-bg-color: #f6f6f6; 

$border-color: #c4bebe;

$available-color: #55ba59; 

/*  ********  SPACING  ********  */ 

$spacing: 16px; 



/*  ********  FONT FAMILY & SIZE  ********  */ 

$primary-font-stack: 'Roboto', sans-serif;
$secondary-font-stack: 'Roboto Condensed', sans-serif;

$font-size: 14px;
$line-height: 1.5;



/*  ********  ANIMATION ********  */ 

$transition_duration: .3s; 